// Includes inline theme overrides

/* Custom Logo Styles */
.sidebar-bg {
  background-size: contain; 
  background-repeat: no-repeat;
  background-position-y: 10%;

  @media screen and (min-width: $break-point-3) {
    background-position-y: center;
  }
}

/* Custom Mobile Menu-bar Styles */
.nav-btn-bar {
  margin-left: auto;
  border-bottom: 2px solid #888;

  @media screen and (min-width: $break-point-3) {
    border-bottom: none;
  }

  .nav-btn {
    padding: 1.55rem .875rem 1.25rem 0;
  }
}

/* Custom Sidebar Title Styles */
.site-title-1 {
  color: #67BB26;
}

.site-title-2 {
  color: #F9B635;
}

.sidebar-sticky {
  bottom: 4rem;

  @media screen and (min-width: $break-point-3) {
    bottom: 1rem;
  }
}

/* Custom Image Styles */
.content figure img {
  margin-bottom: .25rem;
}

figcaption {
  margin-bottom: 1rem;
  color: #898c8f;
  font-size: .75rem;
}

img.border {
  border: 1px solid $border-color;
}