// Includes parent theme overrides

@import "vendor/magnific-popup/main.scss";

/* Subscribe Form Styles */
pre {
  width: 100%;
  margin: 0 auto;
}

.message-newsletter {
  padding: 1rem;

  @media screen and (min-width: $break-point-3) {
    padding: 1rem 3rem;
  }

  >*:last-child {
    margin-bottom: 3rem;
  }
}

.form-control {
  display: block;
  width: 100%;
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.75;
  color: #333;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid #eee;
  border-radius: .25rem;
  transition: border-color ease-in-out 0.1s,box-shadow ease-in-out 0.1s;

  &::-ms-expand {
    background-color: transparent;
    border: 0;
  }

  &::placeholder {
    color: #888;
    opacity: 1;
  }
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -.25rem;
  margin-left: -.25rem;

  &>.col,.form-row>[class*="col-"] {
    padding-right: .25rem;
    padding-left: .25rem;
  }
}

.col-auto.field {
  width: 60%;
  padding: 0 1rem 0 0;;

  @media screen and (min-width: $break-point-3) {
    width: 75%;
  }
}

/* Button Styles */
.btn {
  display: inline-block;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.75;
  border-radius: .25rem;
  transition: background-color 0.1s ease-in-out,border-color 0.1s ease-in-out,box-shadow 0.1s ease-in-out;
}

.btn-primary {
  color: rgb(255, 255, 255);
  background-color: rgb(38, 139, 210);
  border-color: rgb(38, 139, 210);
}

/* Table Styles */
table:not(.highlight) {
  margin: 0 0 1rem 0;
  width: auto;
  font-size: 10px;

  @media screen and (min-width: $break-point-2) {
    font-size: 12px;
  }

  @media screen and (min-width: $break-point-3) {
    font-size: 14px;
  }

  @media screen and (min-width: $break-point-4) {
    font-size: 17px;
  }

  th:first-child, td:first-child, th, td {
    padding: .1rem;

    @media screen and (min-width: $break-point-2) {
      padding: .25rem;
    }
  }

}